{
  "plugins": ["testcafe"],
  "extends": [
    "./node_modules/kcd-scripts/eslint.js",
    "plugin:testcafe/recommended",
    "prettier"
  ],
  "rules": {
    "testing-library/no-dom-import": "off",
    "@babel/new-cap": "off",
    "@babel/quotes": "off"
  }
}
