name: testcafe-testing-library
on:
  push:
    branches:
      - "master"
      - "alpha"
  pull_request:

jobs:
  test:
    name: "node ${{ matrix.node }} ${{matrix.browser}}  ${{ matrix.os }} "
    runs-on: "${{ matrix.os }}"
    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [14, 12, 10]
        browser: ["chrome:headless", "firefox:headless"]
    steps:
      - uses: actions/setup-node@v2.1.5
        with:
          node-version: ${{ matrix.node }}
      - uses: actions/checkout@v1
      - run: npm install
      - run: npm run validate
      - name: Run TestCafe Tests
        uses: DevExpress/testcafe-action@latest
        with:
          args: "${{ matrix.browser}} tests/testcafe"
  release:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/setup-node@v2.1.5
        with:
          node-version: 12
      - uses: actions/checkout@v1
      - run: npm install
      - run: npm run build
      - run: ls -asl dist
      - run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
