name: End-to-End Tests
on: [push, pull_request]

jobs:
  build:
    name: Run Tests Across Node.js Versions and Operating Systems
    runs-on: $
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        node: [10, 12]
    steps:
      - uses: actions/setup-node@v1
        with:
          node-version: $
      - uses: actions/checkout@v1
      - name: Run TestCafe Tests
        uses: DevExpress/testcafe-action@latest
        with:
          args: 'chrome tests'
